@charset "utf-8";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#cards:hover > .card::after {
  opacity: 1;
}

.card {
  @apply h-52 w-64 relative bg-white/20 m-2 rounded-lg
}

.card::before{
  content: "";
  background: radial-gradient(
  800px circle at var(--mouse-x) var(--mouse-y),
  rgba(255, 255, 255, 0.06),
  transparent 40%
  );
  z-index: 3;
}
.card::after {  
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.4),
    transparent 40%
  );
  z-index: 1;
}
.card > .card-content{
  border-radius: inherit;
  background-color: rgb(23,23,23);
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  inset: 1px;
  position: relative;
  z-index:2; 
}

.card:hover::before, .card:hover > .card-border{
  opacity: 1;
}

.card::before,
.card > .card-border{
  @apply h-full absolute left-0 top-0 w-full opacity-0 transition-opacity duration-500 rounded-lg
}

.card > .card-border{
  content: "";
  background: radial-gradient(
  300px circle at var(--mouse-x) var(--mouse-y),
  rgba(255, 255, 255, 0.3),
  transparent 40%
  );
  z-index: 1;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"),
    url("https://resources.beecrowd.com/judge/fonts/Gilroy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.uri-text-logo {
  background: linear-gradient(
    90deg,
    #222,
    #444,
    #eee,
    #222,
    #444
  );
  background-size: 1000% 500%;
  cursor: default;
  display: inline-block;
  font-size: 12vw;
  font-family: "Gilroy";
  float: right;
  margin: 13px 12px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-animation: uri 8s ease infinite;
  -moz-animation: uri 8s ease infinite;
  animation: uri 8s ease infinite;
}

@-webkit-keyframes uri {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes uri {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes uri {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.githubLink {
  font-family: "Gilroy";

  @apply text-white  absolute top-2 right-4 text-xl
}
